body {
	background-color: #d9e6d3;
}
header.row {
	margin-top: 2em;
}
.columns.heading {
	padding: 0;
	margin: 0;
	border: 1px solid #fff;
	border-bottom: none;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.heading h1 {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	font-size: 2.2em;
	text-align: center;
	color: #f2b2a6;
	background-color: #931D08;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.columns.content {
	padding: 3em;
	background-color: #ededed;
	border: 1px solid #fff;
	border-top: none;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.add.small-12.columns {
	padding: 0;
}
.list, .item {
	overflow: auto;
	clear: both;
}
.list p {
	width: 80%;
	float: left;
	margin-top: 1.125em;
	padding-left: 0.5em;
}
div.item {
	border-bottom: 1px solid #dcdcdc;
}
.checked {
	text-decoration: line-through;
}
i {
	float: right;
	padding-top: 1.5em;
	padding-right: 0.5em;
	cursor: pointer;
}
footer {
	margin-top: 1.2em;
	text-align: center;
}
footer p {
	font-size: 0.8em;
}

@media all and (max-width: 440px) {
	.columns.content {
		padding: 3em 1.5em 2em;
	}
}






